.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form input {
  /* margin-bottom: 10px; */
  padding: 8px;
  font-size: 16px;
}

.form button {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  background-color: #434343;
  color: white;
  border: none;
  cursor: pointer;
}

label {
  margin-top: 10px;
}